<div class= "span10 center-table">
<h1>Administer Users</h1>
<table class="table table-bordered table-condensed table-striped" style="background-color: #d9edf7;" >
  <tr>
    <th class="col-sn-1">ID</th>
    <th class="col-sn-2">Username</th>
    <th class="col-sn-3">Email</th>
    <th class="col-sn-2">Admin</th>
    <th class="col-sn-1">Points</th>
    <th class="col-sn-2">Leagues</th>
    <th class="col-sn-1">Signed up on</th>
    <th class="col-sn-2">Last signed in</th>
    <th class="col-sn-2">Last Block Submitted</th>
    <th class="col-sn-1"></th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.points %></td>
      <td><%= user.leagues %></td>
      <td><%= user.signed_up_on %></td>
      <td><%= user.last_signed_in_on %></td> 
      <td><%= user.curr_block %></td> 
      <% if user[:id].between?(1,5) %>
        <td></td>
      <% else %> 
        <td><%= button_to "Delete User", user, :confirm => 'Are you sure?', :id => "open-contacts-dialog-btn", :class => "btn btn-primary btn-sm", :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>