<div class= "span20 center-table">

  <% if ((params[:block].to_i == 0)&&(current_user.admin == true)) %> 
    <h1>Match Picks</h1>
  <% else %>  
    <h1>Block <%= @match_picks[0].blockID %></h1>
  <% end %>  
  
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th class="col-sn-1">Userid</th>
        <th class="col-sn-1">Matchid</th>
        <th class="col-sn-1">Block</th>
        <th class="col-sn-1">Team 1</th>
        <th class="col-sn-1">Team 2</th>
        <th class="col-sn-1">Userpick int</th>
        <th class="col-sn-1">Userpick Result</th>
        <th class="col-sn-5">Actual Result</th>
        <th class="col-sn-1">Points earned</th>
        <th class="col-sn-1">Closed</th>
      </tr>
    </thead>

    <tbody>
      <% @match_picks.each do |match_pick| %>
        <tr>
          <td><%= match_pick.userID %></td>
          <td><%= match_pick.matchID %></td>
          <td><%= match_pick.blockID %></td>
          <td><%= match_pick.match.team1 %></td>
          <td><%= match_pick.match.team2 %></td>
          <td><%= match_pick.userPick %></td>
          <% if (match_pick.userPick == 0) %>
            <td>Draw</td>
          <% elsif (match_pick.userPick == 1) %>
            <td><%= match_pick.match.team1 %></td>
          <% else %>
            <td><%= match_pick.match.team2 %></td>
          <% end %>
          <td><%= match_pick.match.resultString %></td>
          <td><%= match_pick.points %></td>
          <td><%= match_pick.closed %></td>
          <% if (current_user.admin == true) %>
            <td><%= link_to 'Edit', edit_match_pick_path(match_pick) %></td>
          <% end %>
        </tr>
      <% end %>
      
    </tbody>
  </table>
  
  <% if (params[:block].to_i != 0) %>
  <table class="table">
    
    <tbody>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total points:</th>
        <th><%= @match_picks.sum(:points) %></th>
        <th></th>
    </tbody>    
  </table>
  <% end %>
  
  
  
</div>


