  <h1>Matches</h1>

<div class= "span8 center-table">
  <p id="notice"><%= notice %></p>

      <% today=DateTime.now %>
      <% block1Close = "12th June 2014 17:00" %>
      <% block2Close = "15th June 2014 15:00" %>
      <% block3Close = "18th June 2014 15:00" %>
      <% block4Close = "21st June 2014 15:00" %>
      <% block5Close = "24th June 2014 15:00" %>
      <% block6Close = "28th June 2014 15:00" %>
      <% block7Close = "30th June 2014 15:00" %>
      <% block8Close = "4th July 2014 15:00" %>
      <% block9Close = "8th July 19:00" %>
      <% block10Close = "12th July 19:00" %>

  <table class="table table-bordered table-hover table-striped" >
    <thead>
      <tr>
        <th class="col-sm-3"></th>
        <th class="col-sm-2">Status</th>
        <th class="col-sm-3">Closing</th>
      </tr>
    </thead>  
  
  <tbody>  
     <tr>
        <% if ((today<=block1Close.to_datetime)&&(current_user.curr_block < 1)) %>
          <td><%= link_to "Block 1", matches_path(:block => 1), :class => "btn", :method => :get %></td>
        <% else %>
          <td><%= link_to "Block 1", match_picks_path(:block => 1), :class => "btn", :method => :get %></td>
        <% end %>    

        <% if ((today<=block1Close.to_datetime)&&(current_user.curr_block < 1)) %>
           <td><span class="badge badge-success">Open</span></td> 
           <td><%= block1Close %></td>
        <% else %>  
           <td><span class="badge badge-important">Submitted</span></td>          
           <td>N/A</td>
        <% end %>
    </tr>
    
     <tr>
        <% if ((today<=block2Close.to_datetime)&&(current_user.curr_block < 2)) %>
          <td><%= link_to "Block 2", matches_path(:block => 2), :class => "btn", :method => :get %></td>
        <% else %>
          <td><%= link_to "Block 2", match_picks_path(:block => 2), :class => "btn", :method => :get %></td>
        <% end %>    

        <% if ((today<=block2Close.to_datetime)&&(current_user.curr_block < 2)) %>
           <td><span class="badge badge-success">Open</span></td> 
           <td><%= block2Close %></td>
        <% else %>  
           <td><span class="badge badge-important">Submitted</span></td>          
           <td>N/A</td>
        <% end %>
    </tr>  
    
     <tr>
        <% if ((today<=block3Close.to_datetime)&&(current_user.curr_block < 3)) %>
          <td><%= link_to "Block 3", matches_path(:block => 3), :class => "btn", :method => :get %></td>
        <% else %>
          <td><%= link_to "Block 3", match_picks_path(:block => 3), :class => "btn", :method => :get %></td>
        <% end %>    

        <% if ((today<=block3Close.to_datetime)&&(current_user.curr_block < 3)) %>
           <td><span class="badge badge-success">Open</span></td> 
           <td><%= block3Close %></td>
        <% else %>  
           <td><span class="badge badge-important">Submitted</span></td>          
           <td>N/A</td>
        <% end %>
    </tr>       

     <tr>
        <% if ((today<=block4Close.to_datetime)&&(current_user.curr_block < 4)) %>
          <td><%= link_to "Block 4", matches_path(:block => 4), :class => "btn", :method => :get %></td>
        <% else %>
          <td><%= link_to "Block 4", match_picks_path(:block => 4), :class => "btn", :method => :get %></td>
        <% end %>    

        <% if ((today<=block4Close.to_datetime)&&(current_user.curr_block < 4)) %>
           <td><span class="badge badge-success">Open</span></td> 
           <td><%= block4Close %></td>
        <% else %>  
           <td><span class="badge badge-important">Submitted</span></td>          
           <td>N/A</td>
        <% end %>
    </tr>     
    
     <tr>
        <% if ((today<=block5Close.to_datetime)&&(current_user.curr_block < 5)) %>
          <td><%= link_to "Block 5", matches_path(:block => 5), :class => "btn", :method => :get %></td>
        <% else %>
          <td><%= link_to "Block 5", match_picks_path(:block => 5), :class => "btn", :method => :get %></td>
        <% end %>    

        <% if ((today<=block5Close.to_datetime)&&(current_user.curr_block < 5)) %>
           <td><span class="badge badge-success">Open</span></td> 
           <td><%= block5Close %></td>
        <% else %>  
           <td><span class="badge badge-important">Submitted</span></td>          
           <td>N/A</td>
        <% end %>
    </tr>  
    
  </tbody>
    
</div>
 