<%= form_for @user, :as => :user, :url => forgot_password_path, :method => :put do |f| %>
  
  <form class="form-horizontal">
    <fieldset>
      <!-- Form Name -->
      <legend>Forgot Password</legend>
      
      <!-- Enter username or password -->
      <div class="control-group">
        <div class="controls">
          <p><%= f.label 'username or email:' %></p><br/>
          <p><%= f.text_field :username %></p>   
          <p><%= show_field_error(@user, :username) %></p>
        </div>
      </div>

      <!-- Button (Double) -->
      <div class="control-group">
        <div class="controls">
          <p><%= f.submit 'Send Password Reset Instructions' ,:class => "btn btn-success" %></p>
         </div>
      </div>
       
    </fieldset> 
  </form> 
<% end %>      

