<%= form_for @user, :as => :user, :url => password_reset_path, :method => :put do |f| %>
  
  <form class="form-horizontal">
    <fieldset>
      <!-- Form Name -->
      <legend>Account Settings</legend>

      <p>
        <%= @user.username  %> has requested a password reset.  Please enter your new password:
      </p>
      
      <!-- Enter new password -->
      <div class="control-group">
        <div class="controls">
          <p><%= f.label 'new password:' %></p>
          <p><%= f.password_field :new_password %></p>   
          <p><%= show_field_error(@user, :new_password) %></p>
        </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <p><%= f.hidden_field :username %></p>
          <p><%= f.label 'password confirmation:' %></p>
          <p><%= f.password_field :new_password_confirmation %></p>   
          <p><%= show_field_error(@user, :new_password_confirmation) %></p>
        </div>
      </div>      
      
      <!-- Button (Double) -->
      <div class="control-group">
        <div class="controls">
          <p><%= f.submit 'Update' ,:class => "btn btn-success" %></p>
         </div>
      </div>
       
    </fieldset> 
  </form> 
<% end %>
  