<!--# Written by Alan Dunne after following tutorials by Marc Clifton [Available @ http://www.codeproject.com/Articles/575551/User-Authentication-in-Ruby-on-Rails#AdministratingUsers78]-->
<%= form_for @user, :as => :user, :url => sign_in_path(@user) do |f| %>

<form class="form-horizontal">
  <fieldset>

      <!-- Form Name -->
      <legend>Sign In</legend>

      <!-- username or email input-->
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :username,placeholder: 'username or email', :required => true %>   
          <%= show_field_error(@user, :username) %>
        </div>
      </div>


    <!-- Password input-->
    <div class="control-group">
      <div class="controls">
        <%= f.password_field :password, placeholder: 'password',:required => true %>
        <p class="help-block"><%= show_field_error(@user, :password) %></p>
      </div>
    </div>

    <!-- Submit / Rest buttons -->
    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Sign In' ,:class => "btn btn-success" %>
        <%= f.submit 'Clear Form', :class => "btn btn-success",:type => 'reset' %>    
      </div>
    </div>
    
    <!-- Get token if want to be remembered -->  
    <div class="control-group">
      <div class="controls">   
        <%= f.check_box :remember_me %><%= f.label 'remember me' %>      
      </div>
    </div>  
    

<% end %>    
    
    <!-- Forgot Password -->
    <div class="control-group">
      <div class="controls">
        <%= link_to 'Forgot password?', :forgot_password, :class => "btn btn-success" %>
     </div>
    </div>  



  </fieldset>
</form>  
   


